<section>
    <form>
      <input type="text" placeholder="Filter by city">
      <button class="primary" type="button">Search</button>
    </form>
  </section>
  <section class="results">
  </section>

  <ul class="heroes" style="width: 150px;">
    <li>
      <div *ngFor="let hero of housingLocation">       
        <img class="listing-photo" [src]="hero.photo" alt="Exterior photo of {{hero.name}}">
        <h2 class="listing-heading">{{ hero.name }}</h2>
        <p class="listing-location">{{ hero.city}}, {{hero.state }}</p>
      </div>
    </li>
  </ul>